<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ title or siteData.title }}</title>
        <link rel="stylesheet" href="/assets/app.css" />
        <script src="/assets/app.js" defer></script>
    </head>
    <body>
        {{ content | safe }}
    </body>
</html>